<div class="event-container">
    <div class="event-header">
        <div class="artist-name"><p>{{title_ev}}</p></div>
        <div class="date"><p>{{date_ev}}</p></div>
    </div>
    <div class="location">
        <img class="location-icon" src="/img/icon-for-address-1.svg">
        <div class="location-text"><p>{{venue}} ∙ {{place}}</p></div>
    </div>
    <img class="banner" src="{{img_ev_url}}">
    <div class="description">
    <p>
        {{text}}
    </p></div>
    <div class="ticket-container d-flex justify-content-around">
        <a href="{{ticket_url}}">
            <img class="buy-ticket" src="/img/buy-ticket.svg">
        </a>
    </div>
</div>